---

---

<header>
    <nav class="p-4 bg-green-300">
        <ul class="flex  flex-row justify-start gap-4">
            <li><a>Agenda</a></li>
            <li><a>Inventario</a></li>
            <li><a>Archivo</a></li>
        </ul>
    </nav>
</header>
